.footer__list {
  list-style-type: none;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12; /* 112% , 18px */
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer__list {
    flex-direction: column;
    font-size: 24px;
    line-height: 1.0; /* 100% , 24px */
    margin-left: 16px;
  }
}